/* .card {
    width: 30%;
    height: auto;
    margin: 100px  auto;
    border: 1px solid black;
    border-radius: 20px;
} */

.card {
  padding: 1rem;
  width: 30%;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}
